*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/fundo.png);
}

#imagem-slider{
    background-color: blue;
    height: 500px;
    width: 750px;
    position: relative;
    left: 2%;
    top: 90px;
}

#slider{
    overflow: hidden;
    height: 500px;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0 auto;
    animation: 20s slider infinite;
}
#slider figure img{
    float: left;
    width: 20%;
}

@keyframes slider{
    0% {left: 0;}
    20%{left: 0;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}
}

.descricao img{
    width: 50%;
    position: relative;
    bottom: 510px;
    left: 950px;

}
.descricao p{
    position: relative;
    width: 50%;
    bottom: 500px ;
    left: 950px;
    font-size: 110%;
    text-align: justify;
    color: #fff;
}
.descricao h2{
    position: relative;
    width: 50%;
    left: 950px;
    bottom: 490px;
    font-size: 270%;
    color: #F363A3;
    text-shadow: 2px 2px 4px #000000;

}
.descricao ul li {
    position: relative;
    width: 50%;
    left: 965px;
    font-size: 110%;
    bottom: 470px;
    color: #fff
}

.bloco{ 
    width: 100%;
    margin: 0 auto;
}
.col img{
    top: 180px;
    position: relative;
    text-align: center;
    display: inline;
    padding-left: 2%;
    width: 22%;
}
footer{
    font-size: 13px;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: -235px;
}
